@page "/tasks"
@attribute [StreamRendering]

<PageTitle>Tasks</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        
    }

    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
